body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(219, 217, 217, 0.274)
}

section{
    max-width: 1024px;
    margin: 0 auto;
}

main{
    /* Prevent overflow on grid https://css-tricks.com/preventing-a-grid-blowout/ */
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.gridpcenter{
    display: grid;
    place-items: center;
}


.profile-head {
    transform: translateY(3rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

/*
body {
    background: #8f8f8f;
    background: linear-gradient(to right, #0c2ada, #0634ca);
    min-height: 100vh
} 
*/

.paging-nav {
    text-align: right;
    padding-top: 2px;
    justify-content: center;
}
  
.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
}
  
.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}
