extends layout

block content
  section.container
    .row.justify-content-center
      h1.mt-3.text-center='Create Post'
      form#postForm.col-lg-8(method="post" enctype="multipart/form-data")

        label.form-label(for='titleInput') Title
        input#titleInput.mb-3.form-control(type='text' name='title' required)

        label.form-label(for='subtitleInput') Subtitle
        input#subtitleInput.form-control(type='text' name='subtitle' required)
        
        label.form-label(for='themesCheckbox') Themes
        
        br
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='REPORT')
          label.form-check-label(for='themesCheckbox')
            | Report
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='THESIS')
          label.mb-3.form-check-label(for='themesCheckbox')
            | Thesis
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='ARTICLE')
          label.mb-3.form-check-label(for='themesCheckbox')
            | Article
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='APP')
          label.mb-3.form-check-label(for='themesCheckbox')
            | App
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='SLIDES')
          label.mb-3.form-check-label(for='themesCheckbox')
            | Slides
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='TEST')
          label.mb-3.form-check-label(for='themesCheckbox')
            | Test
        .form-check.form-check-inline
          input#themesCheckbox.form-check-input(type='checkbox' name='themes' value='SOLVEDPROB')
          label.mb-3.form-check-label(for='themesCheckbox')
            | SolvedProblem    
        br

        button.mt-3.btn.btn-primary.btn-block.w-100(type='submit') Create

  script(src='/javascripts/post.js')
