extends layout

block content
  section.container
    .row.justify-content-center
      h1.mt-3.text-center='Create Account'
      form#signupform.col-lg-8(method="post" enctype="multipart/form-data")

        label.form-label(for='nameInput') Title
        input#nameInput.mb-3.form-control(type='text' name='title' required)

        label.form-label(for='nameInput') Subtitle
        input#nameInput.mb-3.form-control(type='text' name='subtitle' required)

        label.form-label(for='studentRadio') Type
        br
        .form-check.form-check-inline
          input#studentRadio.form-check-input(type='radio' name='type' value='REPORT' checked)
          label.form-check-label(for='studentRadio')
            | Report
        .form-check.form-check-inline
          input#studentRadio.form-check-input(type='radio' name='type' value='THESIS' checked)
          label.form-check-label(for='studentRadio')
            | Thesis
        .form-check.form-check-inline
          input#studentRadio.form-check-input(type='radio' name='type' value='ARTICLE' checked)
          label.form-check-label(for='studentRadio')
            | Article
        .form-check.form-check-inline
          input#studentRadio.form-check-input(type='radio' name='type' value='APP' checked)
          label.form-check-label(for='studentRadio')
            | App
        .form-check.form-check-inline
          input#studentRadio.form-check-input(type='radio' name='type' value='SLIDES' checked)
          label.form-check-label(for='studentRadio')
            | Slides
        .form-check.form-check-inline
          input#studentRadio.form-check-input(type='radio' name='type' value='TEST' checked)
          label.form-check-label(for='studentRadio')
            | Tests
        .form-check.form-check-inline
          input#teacherRadio.form-check-input(type='radio' name='type' value='SOLVEDPROB')
          label.mb-3.form-check-label(for='teacherRadio')
            | Solved Problem
        br
        label.form-label(for='pictureInput') Zip File
        input#pictureInput.mb-3.form-control(type='file' name='zip' accept='.zip' required)

        button.mt-3.btn.btn-primary.btn-block.w-100(type='submit') Upload

  script(src='/javascripts/upload.js')


