extends ../layout

block content
  section.container.h-100.d-flex.align-items-center
    .row.justify-content-center.aling-items-center.w-100
      h1.mt-3.pb-5.text-center.display-1='Welcome to Daw Docs'
      .pb-5.d-flex.justify-content-center
        a.px-5.mx-5.btn.btn-primary.display-6(href='/login')
          h6.display-6 Login
        a.px-5.mx-5.btn.btn-outline-primary.display-6(href='/signup')
          h6.display-6 Signup

